/* Variables */
$trove-vertical-navigation-width: 280;
$trove-vertical-navigation-dense-width: 80;

trove-vertical-navigation {

    /* Dense appearance overrides */
    &.trove-vertical-navigation-appearance-dense {

        &:not(.trove-vertical-navigation-mode-over) {
            width: #{$trove-vertical-navigation-dense-width}px;
            min-width: #{$trove-vertical-navigation-dense-width}px;
            max-width: #{$trove-vertical-navigation-dense-width}px;

            /* Left positioned */
            &.trove-vertical-navigation-position-left {

                /* Side mode */
                &.trove-vertical-navigation-mode-side {
                    margin-left: -#{$trove-vertical-navigation-dense-width}px;
                }

                /* Opened */
                &.trove-vertical-navigation-opened {
                    margin-left: 0;
                }
            }

            /* Right positioned */
            &.trove-vertical-navigation-position-right {

                /* Side mode */
                &.trove-vertical-navigation-mode-side {
                    margin-right: -#{$trove-vertical-navigation-dense-width}px;
                }

                /* Opened */
                &.trove-vertical-navigation-opened {
                    margin-right: 0;
                }

                /* Aside wrapper */
                .trove-vertical-navigation-aside-wrapper {
                    left: auto;
                    right: #{$trove-vertical-navigation-dense-width}px;
                }

                &.trove-vertical-navigation-hover {

                    .trove-vertical-navigation-aside-wrapper {
                        left: auto;
                        right: #{$trove-vertical-navigation-width}px;
                    }
                }
            }
        }

        /* Wrapper */
        .trove-vertical-navigation-wrapper {

            /* Content */
            .trove-vertical-navigation-content {

                trove-vertical-navigation-aside-item,
                trove-vertical-navigation-basic-item,
                trove-vertical-navigation-collapsable-item,
                trove-vertical-navigation-group-item {

                    .trove-vertical-navigation-item-wrapper {

                        .trove-vertical-navigation-item {
                            width: #{$trove-vertical-navigation-width}px - 24px;
                            min-width: #{$trove-vertical-navigation-width}px - 24px;
                            max-width: #{$trove-vertical-navigation-width}px - 24px;

                            .trove-vertical-navigation-item-arrow,
                            .trove-vertical-navigation-item-badge,
                            .trove-vertical-navigation-item-title-wrapper {
                                transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
                            }
                        }
                    }
                }

                trove-vertical-navigation-group-item {

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }

        &:not(.trove-vertical-navigation-hover):not(.trove-vertical-navigation-mode-over) {

            /* Wrapper */
            .trove-vertical-navigation-wrapper {

                /* Content */
                .trove-vertical-navigation-content {

                    .trove-vertical-navigation-item-wrapper {

                        .trove-vertical-navigation-item {
                            padding: 10px 16px;

                            .trove-vertical-navigation-item-arrow,
                            .trove-vertical-navigation-item-badge,
                            .trove-vertical-navigation-item-title-wrapper {
                                white-space: nowrap;
                                opacity: 0;
                            }
                        }
                    }

                    trove-vertical-navigation-collapsable-item {

                        .trove-vertical-navigation-item-children {
                            display: none;
                        }
                    }

                    trove-vertical-navigation-group-item {

                        > .trove-vertical-navigation-item-wrapper {

                            .trove-vertical-navigation-item {

                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 20px;
                                    width: 23px;
                                    border-top-width: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* Aside wrapper */
        .trove-vertical-navigation-aside-wrapper {
            left: #{$trove-vertical-navigation-dense-width}px;
        }

        /* Hover */
        &.trove-vertical-navigation-hover {

            .trove-vertical-navigation-wrapper {
                width: #{$trove-vertical-navigation-width}px;

                .trove-vertical-navigation-content {

                    .trove-vertical-navigation-item-wrapper {

                        .trove-vertical-navigation-item {

                            .trove-vertical-navigation-item-arrow,
                            .trove-vertical-navigation-item-badge,
                            .trove-vertical-navigation-item-title-wrapper {
                                white-space: nowrap;
                                animation: removeWhiteSpaceNoWrap 1ms linear 350ms;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
            }

            .trove-vertical-navigation-aside-wrapper {
                left: #{$trove-vertical-navigation-width}px;
            }
        }
    }
}

@keyframes removeWhiteSpaceNoWrap {
    0% {
        white-space: nowrap
    }
    99% {
        white-space: nowrap
    }
    100% {
        white-space: normal;
    }
}
